<template>
  <div>
    <v-container>
      <v-data-table
        v-model="selected"
        :headers="headers"
        :items="this.readyToOrderList"
        show-select>
        <template v-slot:item.thumbnail="props">
          <img v-bind:src="`${getThumbnail(props.item.thumbnail)}`" height="100px" width="100px"/>
        </template>
        <template v-slot:item.count="props">
          <v-edit-dialog
            :return-value.sync="props.item.count"
            large
            persistent>
            <div>{{ props.item.count }}</div>
            <template v-slot:input>
              <div class="mt-4 title">
                count
              </div>
              <v-text-field
                v-model="props.item.count"
                :rules="[numberRule]"
                type="number"
                label="Edit"
                single-line
                counter
                autofocus
              ></v-text-field>
            </template>
          </v-edit-dialog>
        </template>
      </v-data-table>
    </v-container>
    <v-container>
      All Price {{this.allPrice}}
    </v-container>
    <v-container>
      address 
      <v-text-field
        type="text"
        label="address"
        @input="addressInput"
        single-line>
      </v-text-field>
    </v-container>
    <v-container>
      <v-btn
      @click="toOrder()">
        order
      </v-btn>
      <v-btn
      @click="readyToOrderDelete()">
        delete
      </v-btn>
    </v-container>
  </div>
</template>

<script>
import {mapGetters, mapActions} from "vuex";

export default {
    data(){
      return{
        allPrice: 0,
        address: "",
        numberRule: v  => {
          if (!isNaN(parseFloat(v)) && v >= 0 && v <= 999) return true;
            return 'Number has to be between 0 and 999';
        },
 
        selected: [],
          headers: [
            { text: 'id', value: 'id' },
            { text: 'thumbnail', value: 'thumbnail' },
            { text: 'name', value: 'name' },
            { text: 'option', value: 'productOption' },
            { text: 'price', value: 'price' },
            { text: 'count', value: 'count' },
            { text: 'all price', value: 'allPrice' },
          ]
      }
    },
    computed: {
      ...mapGetters("orderState",["readyToOrders"]), 
      ...mapGetters("authState", ["userData"]),
      readyToOrderList: function(){
   
        this.readyToOrders.forEach(element => {
          element.allPrice = element.price * element.count;
          this.allPrice +=  element.allPrice 
        });
        return this.readyToOrders
      },

    },

    methods:{
      ...mapActions("orderState",["order", "readyToOrdersDelete"]),
      toOrder(){
        console.log("this.address", this.address);
        if(this.address == ""){
          return;
        }
        const formData = {
          address : this.address,
          ordersDto : this.readyToOrders,
        }
        console.log("order");
        console.log(formData);
        this.order(formData);
      },
      readyToOrderDelete(){
        this.allPrice = 0;
        const readyToOrderIds = [];
        this.selected.forEach(selectedElement => {
          this.readyToOrders.forEach(readyToOrdersElement => {
            if(selectedElement.id == readyToOrdersElement.id){
              readyToOrderIds.push(selectedElement.id);
            }
          });
        });
        console.log(readyToOrderIds);
        const formData = {
          readyToOrderIds
        }
        this.readyToOrdersDelete(formData);
      },
      getThumbnail(image){
      return process.env.VUE_APP_POHTO_URL + "/getThumbnailByFilename/"+image
      },
      addressInput(event){
        this.address = event;
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>