<template>
  <div>
    <v-container>
      <v-data-table
        v-model="selected"
        :headers="headers"
        :items="this.orderList"
        show-select>
        <template v-slot:item.thumbnail="props">
          <img v-bind:src="`${getThumbnail(props.item.thumbnail)}`" height="100px" width="100px"/>
        </template>
        <template v-slot:item.count="props">
          <v-edit-dialog
            :return-value.sync="props.item.count"
            large
            persistent>
            <div>{{ props.item.count }}</div>
            <template v-slot:input>
              <div class="mt-4 title">
                count
              </div>
              <v-text-field
                v-model="props.item.count"
                :rules="[numberRule]"
                type="number"
                label="Edit"
                single-line
                counter
                autofocus
              ></v-text-field>
            </template>
          </v-edit-dialog>
        </template>
      </v-data-table>
    </v-container>
    <v-container>
      <v-btn
      @click="cancelOrderBtn()">
        order cancel
      </v-btn>
    </v-container>
  </div>
</template>

<script>
import {mapGetters, mapActions} from "vuex";
  export default {
    data(){
      return{
        numberRule: v  => {
          if (!isNaN(parseFloat(v)) && v >= 0 && v <= 999) return true;
            return 'Number has to be between 0 and 999';
          },

        selected: [],
          headers: [
            { text: 'id', value: 'id' },
            { text: 'thumbnail', value: 'thumbnail' },
            { text: 'name', value: 'name' },
            { text: 'option', value: 'productOption' },
            { text: 'price', value: 'price' },
            { text: 'count', value: 'count' },
            { text: 'all price', value: 'allPrice' },
            { text: 'address', value: 'address' },
          ]
      }
    },
    computed:{
      ...mapGetters("orderState",["orders"]), 
      orderList: function(){
        this.orders.forEach(element => {
          element.allPrice = element.price * element.count
        });
        return this.orders
      },
    },
    methods:{
      ...mapActions("orderState",["getOrders", "cancelOrder"]),
      cancelOrderBtn(){
        const orderIds = [];
        console.log("Abc");
        console.log(this.selected);
        this.selected.forEach(selectedElement => {
          this.orders.forEach(cartsElement => {
            if(selectedElement.id == cartsElement.id){
              orderIds.push(selectedElement.id);
            }
          });
        });
        
        console.log(orderIds);
        const formData = {
          orderIds
        }
        console.log("abc");
        console.log(formData);
        
        this.cancelOrder(formData);
      },
      getThumbnail(image){
        return process.env.VUE_APP_POHTO_URL + "/getThumbnailByFilename/"+image
      },
    },
    mounted(){
      this.getOrders();
    }
  }
</script>

<style lang="scss" scoped>

</style>