<template>
  <v-container>
    <v-text-field
      v-model="form.name"
      label="Product Name">
    </v-text-field>
    <v-text-field
      v-model="form.price"
      label="Price">
    </v-text-field>
    <v-container>
      Option
      <v-btn
        @click="addOption">
        add option
      </v-btn>
      <div v-for="(d, index) in this.form.option" :key="index">
        <v-text-field
          label="Option"
          v-model="form.option[index]">
        </v-text-field>
        <v-btn
          @click="deleteOption(index)">
          Delete Option
        </v-btn>
      </div>
    </v-container>
    <v-container>
      Discription
      <v-btn
        @click="addDescription()">
        Add Description
      </v-btn>
      <div v-for="(d, index) in this.form.description" :key="index">
        <v-text-field
          label="description"
          v-model="form.description[index]">
        </v-text-field>
        <v-btn
          @click="deleteDescription(index)">
          Delete Description
        </v-btn>
      </div>
    </v-container>
    <v-container>
      Thumbnail
       <v-file-input label="thumbnail input" @change="selectThumbnail"></v-file-input>
    </v-container>
    <v-container>
      Image
      <div v-for="(d, index) in this.form.images" :key="index">
        <v-file-input label="image input" @change="selectFile($event, index)"></v-file-input>
      </div>
        <v-btn
          @click="deleteImage(index)">
          Delete image
        </v-btn>
      <v-btn
        @click="addPhoto()">
        add photo
      </v-btn>
    </v-container>
    <v-btn
    @click="addProductBtn()">
      add Product
    </v-btn>
  </v-container>
</template>

<script>
import {mapActions} from "vuex";

export default {
  
  data(){
    return {
      form: {
        name: "",
        price: "",
        description:[""],
        option: [""],
        images: [""],
        thumbnail: "",
      }
    }
  },
  methods:{
    ...mapActions("productManageState",["addProduct"]),

    addDescription(){
      this.form.description.push("");
    },
    deleteDescription(index){
      this.form.description.splice(index, 1);
    },
    addOption(){
      this.form.option.push("");
    },
    deleteOption(index){
      this.form.option.splice(index, 1);
    },
    addProductBtn(){
      if(this.form.name == ""){
        return;
      }
      if(this.form.price == ""){
        return;
      }
      if(this.form.option.lenght == 0){
        return;
      }
      this.addProduct(this.form);
    },
    selectThumbnail(file){
      this.form.thumbnail = file;
    },
    addPhoto(){
      this.form.images.push("");
    },
    selectFile(file, index) {
      this.form.images[index]= file;
    },
    deleteImage(index){
      this.form.images.splice(index, 1);
    }
  }
}
</script>

<style>

</style>