<template>
  <v-container>
    <v-text-field
      v-model="this.form.name"
      label="Product Name">
    </v-text-field>
    <v-text-field
      v-model="this.form.price"
      label="Price">
    </v-text-field>
    <v-container>
      Option
      <v-btn
        @click="addOption">
        add option
      </v-btn>
      <div v-for="(d, index) in this.form.productOptions" :key="index">
        <v-text-field
          label="Option"
          v-model="form.productOptions[index].option">
        </v-text-field>
        <v-btn
          @click="deleteOption(index)">
          Delete Option
        </v-btn>
      </div>
    </v-container>
    <v-container>
      Discription
      <v-btn
        @click="addDescription()">
        Add Description
      </v-btn>
      <div v-for="(d, index) in this.form.productDescriptions" :key="index">
        <v-text-field
          label="description"
          v-model="form.productDescriptions[index].description">
        </v-text-field>
        <v-btn
          @click="deleteDescription(index)">
          Delete Description
        </v-btn>
      </div>
    </v-container>
    <v-container>
      Thumbnail
      <div v-if="this.form.newThumbNailFlag">
        <v-file-input label="thumbnail input" @change="selectThumbnail"></v-file-input>
      </div>
      <div v-else>
        {{this.form.thumbnail}}
      </div>
      <div>
        <v-btn
          @click="deleteThumbnail()">
          Delete Thumbnail
        </v-btn>
      </div>
    </v-container>
    <v-container>
      Image
      <div v-for="(d, index) in this.form.productPictures" :key="index">
        {{d.picturePath}}
        <v-btn
          @click="deleteImage(index)">
          Delete image
        </v-btn>
      </div>
      <div v-for="(d, index) in this.form.images" :key="index">
        <v-file-input label="photo input" @change="selectFile($event, index)"></v-file-input>
        <v-btn
          @click="deleteImageAddPicture(index)">
          Delete image
        </v-btn>
      </div>

      <v-btn
        @click="addPhoto()">
        add photo
      </v-btn>
    </v-container>
    <v-btn
    @click="modifyProductBtn()">
      Modify Product
    </v-btn>
    <v-btn
      @click="deleteProductBtn()">
      Delete Product
    </v-btn>
  </v-container>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  data () {
    return {
      form: {
        newThumbNailFlag: false,
        newPhotoFlag: false,
        id: this.$route.params.productId,
        name: "",
        price: "",
        thumbnail: "",
        productDescriptions: "",
        productOptions: "",
        productPictures: [""],
        images: new Array(),
        deletePictures: new Array(),
      }

    }
  },
  computed:{
    ...mapGetters("productManageState",["productManageInfoDto"]),
  },
  methods:{
    ...mapActions("productManageState",["getProductInfo", "modifyProductInfo", "deleteProduct"]),
    addDescription(){
      const description = {
        id: "",
        description:"",
        productId: this.$route.params.productId
      }
      this.form.productDescriptions.push(description);
    },
    deleteDescription(index){
      this.form.productDescriptions.splice(index, 1);
    },
    addOption(){
      const option = {
        id: "",
        option:"",
        productId: this.$route.params.productId
      }
      this.form.productOptions.push(option);
    },
    deleteOption(index){
      this.form.productOptions.splice(index, 1);
    },

    modifyProductBtn(){
      this.modifyProductInfo(this.form);
    },
    deleteProductBtn(){
      this.deleteProduct(this.form);
    },
    deleteThumbnail(){
      this.form.thumbnail = "";
      this.form.newThumbNailFlag = true;
    },
    deleteImage(index){
      this.form.newPhotoFlag = true;
      const targetPicture = this.form.productPictures[index];
      this.form.productPictures.splice(index, 1);
      this.form.deletePictures.push(targetPicture);
    },
    deleteImageAddPicture(index){
      this.form.newPhotoFlag = true;
      this.form.images.splice(index, 1);
    },
    addPhoto(){
      this.form.newPhotoFlag = true;
      this.form.images.push("");
    },
    selectThumbnail(file){
      this.form.thumbnail = file;
    },
    selectFile(file, index) {
      this.form.images[index]= file; 
    },
  },
  mounted(){
    this.form.id = this.$route.params.productId;
    this.form.name = this.productManageInfoDto.productDto.name; 
    this.form.price = this.productManageInfoDto.productDto.price; 
    this.form.thumbnail = this.productManageInfoDto.productDto.thumbnail; 
    this.form.productDescriptions = this.productManageInfoDto.productDescriptions;
    this.form.productOptions = this.productManageInfoDto.productOptions;
    this.form.productPictures = this.productManageInfoDto.productPictures;
  }
}
</script>

<style>

</style>