<template>
  <div>
    <v-container>
      <v-data-table
        v-model="selected"
        :headers="headers"
        :items="this.cartList"
        show-select>
        <template v-slot:item.thumbnail="props">
          <img v-bind:src="`${getThumbnail(props.item.thumbnail)}`" height="100px" width="100px"/>
        </template>
        <template v-slot:item.count="props">
          <v-edit-dialog
            :return-value.sync="props.item.count"
            large
            persistent>
            <div>{{ props.item.count }}</div>
            <template v-slot:input>
              <div class="mt-4 title">
                count
              </div>
              <v-text-field
                v-model="props.item.count"
                :rules="[numberRule]"
                type="number"
                label="Edit"
                single-line
                counter
                autofocus
              ></v-text-field>
            </template>
          </v-edit-dialog>
        </template>
      </v-data-table>
    </v-container>
    <v-container>
      <v-btn
      @click="cartToOrder()">
        order
      </v-btn>
      <v-btn
      @click="cartDelete()">
        delete
      </v-btn>
    </v-container>
  </div>
</template>

<script>
import {mapGetters, mapActions} from "vuex";
  export default {
    data(){
      return{
        numberRule: v  => {
          if (!isNaN(parseFloat(v)) && v >= 0 && v <= 999) return true;
            return 'Number has to be between 0 and 999';
          },

        selected: [],
          headers: [
            { text: 'id', value: 'id' },
            { text: 'thumbnail', value: 'thumbnail' },
            { text: 'name', value: 'name' },
            { text: 'option', value: 'productOption' },
            { text: 'price', value: 'price' },
            { text: 'count', value: 'count' },
            { text: 'all price', value: 'allPrice' },
          ]
      }
    },
    computed:{
      ...mapGetters("cartState",["carts"]), 
      cartList: function(){
        this.carts.forEach(element => {
          element.allPrice = element.price * element.count
        });
        return this.carts
      },
    },
    methods:{
      ...mapActions("cartState",["getCarts", "deleteCarts"]),
      ...mapActions("orderState",["readyToOrders"]),
      cartToOrder(){
        this.readyToOrders(this.selected);
      },
      cartDelete(){
        const cartIds = [];
        this.selected.forEach(selectedElement => {
          this.carts.forEach(cartsElement => {
            if(selectedElement.id == cartsElement.id){
              cartIds.push(selectedElement.id);
            }
          });
        });
        
        const formData = {
          cartIds
        }
        this.deleteCarts(formData)
      },
     getThumbnail(image){
      return process.env.VUE_APP_POHTO_URL + "/getThumbnailByFilename/"+image
      }
    },
    
    mounted(){
      this.getCarts();
      console.log(this.carts);
    }
  }
</script>

<style lang="scss" scoped>

</style>