<template>
 <v-container fill-height>
      <v-row class="justify-center align-center">
        <v-col cols="12" sm="4">
  <!-- <validation-observer
    ref="observer"
    v-slot="{ invalid }"
  > -->
    <form @submit.prevent="submit">
      <!-- <validation-provider
        v-slot="{ errors }"
        name="Name"
        rules="required|max:10"
      > -->
            {{this.form.username}}
        <!-- <v-text-field
          v-model="form.username"
          :counter="10"

          label="Name"
          
        ></v-text-field> -->
      <!-- </validation-provider> -->
      <!-- <validation-provider
        v-slot="{ errors }"
        name="phoneNumber"
        :rules="{
          required: true,
          digits: 13,

        }"
   
      > -->
           <!--           regex: '^(71|72|74|76|81|82|84|85|86|87|88|89)\\d{5}$' -->
        <v-text-field
          v-model="form.phoneNumber"
          :counter="13"

          label="Phone Number"
          
        ></v-text-field>
      <!-- </validation-provider> -->
      <!-- <validation-provider
        v-slot="{ errors }"
        name="email"
        rules="required|email"
      > -->
      {{this.form.email}}
        <!-- <v-text-field
          v-model="form.email"

          label="E-mail"
          
        ></v-text-field> -->
      <!-- </validation-provider> -->
 
       <!-- <validation-provider
        v-slot="{ errors }"
        name="password"
        rules="required|password"
      > -->
        <v-text-field
          v-model="form.password"

          label="Password"
          :type="'password'"
          
        ></v-text-field>
      <!-- </validation-provider> -->
 
       <!-- <validation-provider
        v-slot="{ errors }"
        name="passwordRequired"
        rules="required|passwordRequired"
      > -->
        <v-text-field
          v-model="form.passwordRequired"

          label="Password-Required"
          :type="'password'"
          
        ></v-text-field>
      <!-- </validation-provider> -->
         <v-text-field
          v-model="form.address"

          label="Address"
      
          
        ></v-text-field>

      <v-btn
        class="mr-4"
        type="submit"
     
      >
         <!-- :disabled="invalid" -->
        submit
      </v-btn>
      <v-btn @click="clear">
        clear
      </v-btn>
    </form>
  <!-- </validation-observer> -->
          </v-col>
      </v-row>
 </v-container>
</template>
<script>
import {mapActions, mapGetters} from "vuex";

  export default {
    name:"edit",

    data: () => ({
      
      form : {
        phoneNumber: "",
        email: "",
        password: "",
        passwordRequired: "",
        username : "",
        address: "",
      }


      //   rules: {
      //   required: value => !!value || 'Required.',
      //   min: v => v.length >= 8 || 'Min 8 characters',
      //   emailMatch: () => (`The email and password you entered don't match`),
      // },
    }),
    computed:{
      ...mapGetters("authState",["userData"]),
    },
    methods: {
      ...mapActions("authState",["register", "changeUserInfo"]),

      submit () {
        this.changeUserInfo(this.form);
      },
      clear () {
        this.form.username = ''
        this.form.phoneNumber = ''
        this.form.email = ''
        this.form.password = '',
        this.form.passwordRequired = ""
        this.form.userKubunId = ""
        this.form.address = ""
        // this.$refs.observer.reset()
      },
    },
    mounted(){
      console.log("###")
      console.log(this.userData);
      // console.log(this.userData);
      this.form.phoneNumber = this.userData.phoneNumber;
      this.form.email = this.userData.email;
      // this.form.password = this.userData.password;
      // this.form.passwordRequired = this.userData.passwordRequired;
      this.form.username = this.userData.username;
      this.form.address = this.userData.address;
    
    },
  }
</script>
<style>

</style>