<template>
 <v-container fill-height>
      <v-row class="justify-center align-center">
        <v-col cols="12" sm="4">
  <!-- <validation-observer
    ref="observer"
    v-slot="{ invalid }"
  > -->
  
    <form @submit.prevent="submit">
        <v-text-field
          v-model="form.email"
          label="E-mail"
          ></v-text-field>



         <v-text-field
            v-model="form.password"
            :type="'password'"
            label="password"
  
            
          ></v-text-field>
        
         <!-- hint="At least 8 characters" -->
        <!-- :error-messages="errors"
            :rules="[rules.required, rules.min]"
                        name="input-10-1" -->
      <v-btn
        class="mr-4"
        type="submit"
      >
        submit
      </v-btn>
      <v-btn @click="clear">
        clear
      </v-btn>
    </form>
  <!-- </validation-observer> -->

        </v-col>
      </v-row>
 </v-container>
</template>
<script>
import {mapActions} from "vuex";


  // import { required, digits, email, max, regex } from 'vee-validate/dist/rules'
  // import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'

  // setInteractionMode('eager')

  // extend('digits', {
  //   ...digits,
  //   message: '{_field_} needs to be {length} digits. ({_value_})',
  // })

  // extend('required', {
  //   ...required,
  //   message: '{_field_} can not be empty',
  // })

  // extend('max', {
  //   ...max,
  //   message: '{_field_} may not be greater than {length} characters',
  // })

  // extend('regex', {
  //   ...regex,
  //   message: '{_field_} {_value_} does not match {regex}',
  // })

  // extend('email', {
  //   ...email,
  //   message: 'Email must be valid',
  // })

  export default {
    name:"Login",
    components: {
    
    // ValidationProvider,
      // ValidationObserver,
    },



    data: () => ({
      form:{
        email: '',
        password: '',
     
      }
      //         rules: {
      //   required: value => !!value || 'Required.',
      //   min: v => v.length >= 8 || 'Min 8 characters',
      //   emailMatch: () => (`The email and password you entered don't match`),
      // },
    }),

    methods: {
        ...mapActions("authState",["login"]),
      
      submit () {
        // this.$refs.observer.validate()
        this.login(this.form);
      },

      clear () {
        this.form.email = ''
        this.form.password = ''
        // this.$refs.observer.reset()
      },
    },
  }
</script>
<style>

</style>