<template>
  <v-container fill-height>
    <v-row class="justify-center align-center">
      <v-col cols="12" sm="4">
  <!-- <validation-observer
    ref="observer"
    v-slot="{ invalid }"
  > -->
        <form @submit.prevent="submit">
      <!-- <validation-provider
        v-slot="{ errors }"
        name="Name"
        rules="required|max:10"
      > -->
          <v-text-field
            v-model="form.username"
            :counter="10"

            label="Name"
            
          ></v-text-field>
      <!-- </validation-provider> -->
      <!-- <validation-provider
        v-slot="{ errors }"
        name="phoneNumber"
        :rules="{
          required: true,
          digits: 13,

        }"
   
      > -->
           <!--           regex: '^(71|72|74|76|81|82|84|85|86|87|88|89)\\d{5}$' -->
        <v-text-field
          v-model="form.phoneNumber"
          :counter="13"

          label="Phone Number"
          
        ></v-text-field>
      <!-- </validation-provider> -->
      <!-- <validation-provider
        v-slot="{ errors }"
        name="email"
        rules="required|email"
      > -->
        <v-text-field
          v-model="form.email"

          label="E-mail"
          
        ></v-text-field>
      <!-- </validation-provider> -->
 
       <!-- <validation-provider
        v-slot="{ errors }"
        name="password"
        rules="required|password"
      > -->
        <v-text-field
          v-model="form.password"

          label="Password"
          :type="'password'"
          
        ></v-text-field>
      <!-- </validation-provider> -->
 
       <!-- <validation-provider
        v-slot="{ errors }"
        name="passwordRequired"
        rules="required|passwordRequired"
      > -->
        <v-text-field
          v-model="form.passwordRequired"

          label="Password-Required"
          :type="'password'"
          
        ></v-text-field>
      <!-- </validation-provider> -->
         <v-text-field
          v-model="form.address"

          label="Address"
          :type="text"
          
        ></v-text-field>

      <v-row align="center">
        <v-col
          class="d-flex"
          cols="12"
          sm="6">
          <v-select
            :items="this.userKubun"
            item-text="kubunName"
            item-value="kubun"
            label="user kubun"
            v-model="form.userKubunId">
          </v-select>
        </v-col>
      </v-row>

      <v-btn
        class="mr-4"
        type="submit">
         <!-- :disabled="invalid" -->
        submit
      </v-btn>
      <v-btn @click="clear">
        clear
      </v-btn>
    </form>
  <!-- </validation-observer> -->
          </v-col>
      </v-row>
 </v-container>
</template>
<script>
import {mapActions, mapGetters} from "vuex";
  // import { required, digits, email, max, regex } from 'vee-validate/dist/rules'
  // import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'

  // setInteractionMode('eager')

  // extend('digits', {
  //   ...digits,
  //   message: '{_field_} needs to be {length} digits. ({_value_})',
  // })

  // extend('required', {
  //   ...required,
  //   message: '{_field_} can not be empty',
  // })

  // extend('max', {
  //   ...max,
  //   message: '{_field_} may not be greater than {length} characters',
  // })

  // extend('regex', {
  //   ...regex,
  //   message: '{_field_} {_value_} does not match {regex}',
  // })

  // extend('email', {
  //   ...email,
  //   message: 'Email must be valid',
  // })
  // extend('password', {
  //   ...email,
  //   message: 'Password must be valid',
  // })
  export default {
  
    
    name:"Register",
    components: {
      // ValidationProvider,
      // ValidationObserver,
    },
    data: () => ({
      
      form : {
        selectedUserKubun: '',
        phoneNumber: '',
        email: '',
        password: '',
        passwordRequired: '',
        username : '',
        address: '',
      }


      //   rules: {
      //   required: value => !!value || 'Required.',
      //   min: v => v.length >= 8 || 'Min 8 characters',
      //   emailMatch: () => (`The email and password you entered don't match`),
      // },
    }),
    computed:{
      ...mapGetters("authState",["userKubun"]),
    },
    methods: {
      ...mapActions("authState",["register", "getUserKubun"]),

      submit () {
        this.register(this.form);
        // this.$refs.observer.validate()
      },
      clear () {
        this.username = ''
        this.phoneNumber = ''
        this.email = ''
        this.password = '',
        this.passwordRequired = ""
        this.userKubunId = ""
        this.address = ""
        // this.$refs.observer.reset()
      },
    },
    mounted(){
      this.getUserKubun();
    }
  }
</script>
<style>

</style>