<template>
  <div>
    <v-container>
      <v-simple-table>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left">
                id
              </th>
              <th class="text-left">
                Product id
              </th>
              <th class="text-left">
                Product name
              </th>
              <th class="text-left">
                User id
              </th>
              <th class="text-left">
                Order State
              </th>
              <th class="text-left">
                change Order States
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(orderManage, index) in orderManages" :key="index">
              <td>{{ orderManage.id }}</td>
              <td>{{ orderManage.productId }}</td>
              <td>{{ orderManage.productName }}</td>
              <td>{{ orderManage.userId }}</td>
              <td>{{ orderManage.orderState }}</td>
              <td>
                <div v-if="orderManage.orderState == 'OrderCancel'">
                  <select disabled>
                    <option>order canceld</option>
                  </select>
                </div>
                <div v-else>
                  <select v-model="selectedOrderState[index]" @change="changeState(orderManage, index)">
                    <option
                      v-for="orderState in orderManage.orderStates"
                      :key="orderState">
                      {{orderState}}
                    </option>
                  </select>
                </div>
              </td> 
            </tr>
          </tbody>
        </template>
      </v-simple-table>    
    </v-container>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  data(){
    return {
      selectedOrderState: [],
      formData:{
        id: "",
        orderState: "",
      }
    }
  },
  computed:{
    ...mapGetters("orderManageState",["orderManages"]),
  },
  methods:{
    ...mapActions("orderManageState",["postOrderState"]),

    changeState(orderManage, index){
      this.formData = {
        id: orderManage.id,
        orderState: this.selectedOrderState[index],
      }
      orderManage.orderState = this.selectedOrderState[index];
      this.postOrderState(this.formData);
    }
  },
}
</script>

<style>

</style>