<template>
  <div>
    <v-container>
      <ProductSelectOption/>
      <hr>
      <ProductDetail/>
      <hr>
      <ProductQna/>
    </v-container>
  </div>
</template>

<script>
import {mapActions} from "vuex";

import ProductDetail from "@/components/product/components/productDetail.vue";
import ProductSelectOption from "@/components/product/components/productSelectOption.vue";
import ProductQna from "@/components/product/components/productQna.vue";

export default {
  data () {
    return {
      productId: this.$route.params.productId,
    }
  },
  components:{
    ProductSelectOption,
    ProductDetail,
    ProductQna,
  },
  methods:{
    ...mapActions("productState",["getProduct"]),
  },
  mounted(){
    this.getProduct({productId: this.productId});
  },
}
</script>
