<template>
  <div>
    <v-container>
      <div>
        subject
      </div>
      <div>
        <v-text-field
        v-model="form.subject"
        />
      </div>
    </v-container>
    <v-container>
      <div>
        content
      </div>
      <div>
        <v-text-field
        v-model="form.content"
        />
     </div>
    </v-container>
    <v-container>
      <v-btn @click="submit()">
        submit
      </v-btn>
      <v-btn @click="cancel()">
        cancel
      </v-btn>
    </v-container>
  </div>
</template>

<script>
import {mapGetters, mapActions} from "vuex";

import router from "@/router";

export default {
  data(){
    return{
      form:{
        subject: "",
        content: "",
      }
    }
  },
  computed:{
    ...mapGetters("productState",["product"])
  },
  methods:{
    ...mapActions("qnaState",["postQna"]),
    submit(){
      console.log(this.form);
      this.form.productId = this.product.productDto.id;
      this.postQna(this.form);
    },
    cancel(){
      router.push({
        name: 'Product',
        params: {productId: this.product.productDto.id} });
    }
  },
  mounted(){
    console.log(this.product.productDto.id);
  }
}
</script>