<template>
  <div>
    <v-container>
      <div>
        subject
      </div>
      <div>
        {{this.qna.subject}}
      </div>
    </v-container>
    <v-container>
      <div>
        content
      </div>
      <div>
        {{this.qna.content}}
     </div>
    </v-container>
    <v-container>
      <v-btn @click="cancel()">
        cancel
      </v-btn>
    </v-container>
    <div v-if="this.isLoggedIn">
      <div v-if="this.qna.userId == this.userData.id || this.userData.userKubunId == 2">
        <v-container>
          <v-text-field
          v-model="form.content">
          </v-text-field>
          <v-btn
            @click="submit()">
            submit
          </v-btn>
        </v-container>
      </div>
    <div>
      <v-container>
        <div v-for="qnaReply in this.qnaReplys" :key="qnaReply.id">
          <div>
            {{qnaReply.content}} {{qnaReply.userId}}
          </div>
        </div>
      </v-container>
    </div>
  </div>   
  </div>
</template>

<script>
import {mapGetters, mapActions} from "vuex";

import router from "@/router";

export default {
  data(){
    return{
      form:{
        qnaBoardId: "",
        content: "",
      }
    }
  },
  computed:{
    ...mapGetters("qnaState",["qna", "qnaReplys"]),
    ...mapGetters("productState",["product"]),
    ...mapGetters("authState", ["userData","isLoggedIn"])
  },
  methods:{
    ...mapActions("qnaState",["postQnaReply"]),
    submit(){
      if(this.content == ""){
        return;
      }
      this.form.qnaBoardId = this.qna.id;
      this.content = "";
      this.postQnaReply(this.form);
    },
    cancel(){
      router.push({
        name: 'Product',
        params: {productId: this.product.productDto.id} });
    }

  },
}
</script>