<template>
  <v-app-bar
    app
    depressed
  >
    <div class="d-flex align-center">
      <router-link to="/">SHOP</router-link>
    </div>
    <v-spacer></v-spacer>
    <div v-if="this.isLoggedIn == true && this.userData.userKubunId == 2">

      <router-link to="/manageProduct">
        <v-btn
          text
          depressed>
          <span class="mr-2">
            Product Manage
          </span>
        </v-btn>
    </router-link>
      <v-btn
        @click="btnToOrderManage()"
        text
        depressed>
        <span class="mr-2">
          Order Manage
        </span>
      </v-btn>
    
    </div>

    <div v-if="!this.isLoggedIn">

    <router-link to="/login">
      <v-btn
        depressed
      >
        Login
      </v-btn>
    </router-link>
      
    <router-link to="/register">
      <v-btn
        text
        depressed
      >
        <span class="mr-2">
          Register
        </span>
      </v-btn>
    </router-link>
  </div>
  <div v-else>
    <router-link to="/orderdList">
      <v-btn
        text
        depressed>
      <span class="mr-2">
        Order List
      </span>
    </v-btn>
    </router-link>
    <router-link to="/cart">
      <v-btn
        text
        depressed
      >
      <span class="mr-2">
        Cart
      </span>
    </v-btn>
    </router-link>
    <router-link to="/changeUserInfo">
      <v-btn
        text
        depressed>
      <span class="mr-2">
        {{this.userData.email}}
      </span>
    </v-btn>
    </router-link>
    <v-btn
      text
      depressed
      @click="btnLogout()"
    >
      <span class="mr-2">
        Logout
      </span>
    </v-btn>

  </div>
  </v-app-bar>
</template>
<script>
import {mapActions, mapGetters} from "vuex";


export default {
  name: "Navbar",

  computed:{
    ...mapGetters("authState",["isLoggedIn", "userData"]),
  },
  methods:{
    ...mapActions("authState",["logout"]),
    ...mapActions("orderManageState",["getOrderManageList"]),
    btnLogout(){
      this.logout();
    },
    btnToOrderManage(){
      this.getOrderManageList();
    }
  },
  mounted(){
    // console.log(this.userData.userKubunId);
  }
}
</script>

<style>

</style>