<template>
  <div>
    Product list
      <v-row>
        <router-link :to="{name: 'addProduct'}">
          <v-btn>
            Add Product
          </v-btn>
        </router-link>
      </v-row>
    <v-container
       v-for="low, index in lows"
      :key="index"
      class="grey lighten-5 mb-6">
      <v-row
        no-gutters>
        <v-col
          v-for="n, index in low"
          :key="index">
          <v-card
          class="mx-auto"
          max-width="344"
          @click="modifyClick(n.id)">
          <img v-bind:src="`${getThumbnail(n.thumbnail)}`" height="200px" width="100%"/>
            <v-card-title>
              {{n.name}}
            </v-card-title>
            <v-card-subtitle>
              {{n.price}}
            </v-card-subtitle>
            <v-card-actions>
              <v-spacer></v-spacer>
            </v-card-actions> 
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

  export default {
    name: 'manageProductList',
    methods:{
      ...mapActions("productManageState", ["getProductManageList","getProductInfo"]),
      modifyClick(id){
        this.getProductInfo(id);
      },
      getThumbnail(image){
      return process.env.VUE_APP_POHTO_URL + "/getThumbnailByFilename/"+image
      }
    },
    computed:{
      ...mapGetters("productManageState",["productManageList"])
    },
    mounted(){
      this.getProductManageList();
      var productSize = this.productManageList.length;

      console.log(productSize);
      this.lowCount = Math.trunc(productSize / 5 + 1);
      var tempArray = [];

      for(var i = 0 ; i < productSize; i++ ){
        if(i % 5 == 0 && i != 0){
        this.productsForShow.push(tempArray);
        tempArray = [];
        }
        tempArray.push(this.productManageList[i]);
      }
      this.productsForShow.push(tempArray);

      for(var j = 0 ; j < this.lowCount; j++){
        this.lows.push(this.productsForShow[j]);
      }
    },
    data: () => ({
      lowCount: 0,
      productsForShow: [],
      lows: [],
    }),
  }
</script>
