<template>
  <div>
    <div v-if="this.isLoggedIn">
      <v-container>
        <router-link :to="{name:'CreateComment'}">
          <v-btn>
            commant
          </v-btn>
        </router-link>
      </v-container>
    </div>
    <v-container>
      Qna
      <div v-for="qna in this.product.qnaBoards" :key="qna.id">
          <v-container @click="toQna(qna.id)">
            {{qna.subject}} {{qna.userId}}
          </v-container>
        </div>
    </v-container>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  data () {
    return {
      productId: this.$route.params.productId,
    }
  },
  computed:{
    ...mapGetters("productState",["product"]),
    ...mapGetters("authState",["isLoggedIn"]),
  },
  methods:{
    ...mapActions("qnaState",["getQnas","getQna"]),
    toQna(qnaId){
      this.getQna(qnaId);
    }
  },
  mounted(){
    this.getQnas(this.productId);
  },

}
</script>
