<template>
  <div>
    <v-container>
      <div v-for="(slide, i) in slides" :key="i">
        <img v-bind:src="`${getPicture(slide)}`"  height="100%"/>
      </div>
    </v-container>
    <v-container>
      <div v-for="(description, i) in descriptions" :key="i">
        {{description}}
      </div>
    </v-container>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  data () {
    return {
      slides: [],
      descriptions:[],
    }
  },

  computed:{
    ...mapGetters("productState",["product"])
  },
  methods:{
    getPicture(image){
      return process.env.VUE_APP_POHTO_URL + "/getPictureByFilename/"+image
    },
  },
  mounted(){
    this.product.productPictures.forEach(element => {
      this.slides.push(element.picturePath);
    });
    this.product.productDescriptions.forEach(element =>{
      this.descriptions.push(element.description);
    });
  }
}
</script>
