<template>
  <v-container>
    <v-row>
      <v-col
        cols="12"
        sm="6"
        md="8"
      >
        <v-card
          class="pa-2"
          outlined
          tile
        >
         <v-carousel
            cycle
            height="500"
            hide-delimiter-background
            show-arrows-on-hover
          >
            <v-carousel-item
              v-for="(slide, i) in slides"
              :key="i"
            >
                <v-row
                  class="fill-height"
                  align="center"
                  justify="center"
                >
                 <img v-bind:src="`${getPicture(slide)}`"  height="100%"/>
                </v-row>
            </v-carousel-item>
          </v-carousel>
        </v-card>
      </v-col>
    <v-col
      cols="6"
      md="4">
    <v-row align="center">
      <v-card
        class="d-flex"
        cols="12"
        sm="6">
        {{this.product.productDto.name}}
      </v-card>
    </v-row>
    <v-row align="center">
      <v-card
        class="d-flex"
        cols="12"
        sm="6">
          {{this.product.productDto.price}}
      </v-card>
    </v-row>
    <v-row align="center">
      <v-col
        class="d-flex"
        cols="12"
        sm="6">
        <v-select
          :items="this.product.productOptions"
          item-text="option"
          item-value="id"
          label="select size"
          v-model="selectedOption">
          </v-select>
      </v-col>
   </v-row>
    <v-row align="center">
      <v-col
        class="d-flex"
        cols="12"
        sm="6">
        <v-text-field
          ref="count"
          label="buy count"
          type="number"
          v-model="count"
          max="30"
          min="1"/>
        </v-col>
        </v-row>
      <v-row align="center">
        <v-col
          class="d-flex"
          cols="12"
          sm="6">
          all price :  {{this.allPriceSum}}
        </v-col>
      </v-row>

    <div v-if="this.isLoggedIn">
      <v-row>
        <v-btn 
          depressed
          @click="addCartView()">
          Add to cart
        </v-btn>
        <v-btn
          depressed
          color="primary"
          @click="toOrder()">
          Order
        </v-btn>
      </v-row>
    </div>
    </v-col>
  </v-row>
  </v-container>
</template>

<script>
import {mapGetters, mapActions} from "vuex";

export default {
    data () {
      return {
        productId: this.$route.params.productId,
        count: 1,
        allPrice: 0,
        selectedOption: "",
        slides: [],
        ordersDto:[],
      }
    },

  computed:{
    ...mapGetters("productState",["product"]),
    ...mapGetters("authState",["isLoggedIn"]),
    ...mapGetters("productState",["product"]),
    allPriceSum : function(){
      return this.count * this.product.productDto.price;
    }
  },

  methods:{
    ...mapActions("orderState",["readyToOrders"]),
    ...mapActions("cartState", ["addCart"]),
    addCartView(){
      if(this.selectedOption == ""){
        console.log("please select option");
        return;
      }
      const formData = {
        productId: this.productId,
        count: this.count,
        productOptionId: this.selectedOption,
      };
      this.addCart(formData);
    },
    toOrder(){
      if(this.selectedOption == ""){
        console.log("please select option");
        return;
      }

      console.log(this.product.productOptions);
      let productOptionName = "";
      this.product.productOptions.forEach(element =>{
        if(element.id == this.selectedOption){
          productOptionName = element.option;
        }
      });
      const orderForm = {
        id: this.productId ,
        name: this.product.productDto.name,
        price: this.allPriceSum,
        productId: this.productId,
        productOption: productOptionName,
        productOptionId: this.selectedOption,
        count: this.count,
        thumbnail: this.product.productDto.thumbnail
      };
      this.ordersDto.push(orderForm);
      this.readyToOrders(this.ordersDto);
    },
    getPicture(image){
      return process.env.VUE_APP_POHTO_URL + "/getPictureByFilename/"+image
    }
  },
  mounted(){
    this.product.productPictures.forEach(element => {
      this.slides.push(element.picturePath);
    });
  },
}
</script>
